/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#registro {
	line-height: 30px;
	height: 150px;
	width: 250px;
	position: absolute;
	left: 60%;
	top: 77%;
}

#bback {
	background-color: #f5f5f5;
}

#image {
	background-image: url(Imagenes/HOJA%20DE%20INICIO%20PORTAL%20FEB%202016.png);
	background-size: cover;
	background-position: right;
}

#logo {
	height: 60%;
	width: 60%;
	margin: 3%;
}

#us {
	margin-top: 20%;
	margin-left: 120%;
}

#exit {
	margin-top: 17%;
	margin-left: 45%;
}

#header {
	background-color: #1a237e;
	text-align: center;
	float: top;
	margin-bottom: .1%;
}

#nav {
	line-height: 30px;
	background-color: #e0e0e0;
	width: 20%;
	float: left;
	padding: 1%;
	margin-top: -3.5%;
	margin-bottom: 320px;
}

#section {
	width: 100%;
	padding-left: 25%;
	margin-top: -3.5%;
	background-color: floralwhite;
	padding-bottom: 100px;
}

#footer {
	background-color: #90a4ae;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}

#tt {
	font-size: 8px;
	table-layout: fixed;
	margin-bottom: -10%;
	margin-bottom: -10%;
}

#cf {
	background-color: #e0e0e0;
}


/* textarea:focus {
  border-bottom: 1px solid orange;
  -webkit-box-shadow: 0 1px 0 0 orange;
  -moz-box-shadow: 0 1px 0 0 orange;
  box-shadow: 0 1px 0 0 orange;
} 

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #FF0000;
  box-shadow: 0 1px 0 0 #FF0000;
}
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #FF0000;
}
textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #4CAF50;
  box-shadow: 0 1px 0 0 #4CAF50;
}
textarea.materialize-textarea:focus.valid + label:after {
  content: attr(data-success);
  color: #4CAF50;
  opacity: 1;
}
textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}


/* label color 
.input-field label {
    color: red;
}

/* label color 
.input-field label {
    color: red;
}
/* label focus color 
.input-field input[type=text]:focus + label {
    color: red;
}
/* label underline focus color 
.input-field input[type=text]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* valid color 
.input-field input[type=text].valid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* invalid color 
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color 
.input-field .prefix.active {
    color: red;
}