<form action="editar.php" method="post">
	<label>Nombre </label>
	<input type="text" name="nombre">
	</input>
	<label>Apellido</label>
	<input type="text" name="apellido" value="<?php echo $row['apellido'];?>"></input>
	<label>Peso</label>
	<input type="text" name="peso">
	</input>
	<button class="btn waves-effect waves-light red accent-4" type="submit" name="crear" value="update">
		<a class="white-text">Aceptar</a>
	</button>
</form>