<h2 class="center-align">Editar jugadores</h2>
<br>
<div class="row">
	<div class="col s4">&nbsp</div>
	<div class="col s4">
		<?php if(isset($_SESSION["error"])):?>
			<?= $_SESSION["error"] ?>
				<?php unset($_SESSION["error"]) ?>
					<?php endif; ?>
						<?php include('_form2.html'); ?>
	</div>
	<div class="col s4">&nbsp</div>
</div>