<form action="add.php" method="post">
	<label>Nombre</label>
	<input type="text" name="nombre" />
	<label>Apellido</label>
	<input type="text" name="apellido" />
	<label>Peso</label>
	<input type="text" name="peso" />
	<button class="btn waves-effect waves-light red accent-4" type="submit" name="crear" value="guardar">
		<a class="white-text">Agregar</a>
	</button>
</form>