<form action="index.php" method="POST">
	<label>Usuario: </label>
	<input type="text" name="nombre" />
	<br>
	<label>Contraseña: </label>
	<input type="password" name="contraseña">
	<button class="btn waves-effect waves-light red accent-4 btn-small" type="submit" name="submit" value="enviar">Enviar
		<i class="material-icons right">send</i>
	</button>
</form>
</body>