<head id="header">
	<meta charset="UTF-8">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import css-->
	<link rel="stylesheet" href="../CSS/materialize.css">
	<link rel="stylesheet" href="../CSS/style.css">
	<!-- <link rel="font" href="font/roboto/"> -->

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<div class="row ">
		<div class="col s2">&nbsp</div>
		<div class="col s2">&nbsp</div>
		<div class="col s2">&nbsp</div>
		<div class="col s2">&nbsp</div>
		<div class="col s2">
			<h5>Bienvenido:<?php echo  $_SESSION["nombre"] ?></h5></div>
		<div class="col s2">
			<br>
			<?php if (isset($_SESSION["nombre"])): ?>
				<a href="logout.php">Salir</a>
				<?php endif; ?>
		</div>
	</div>
</head>