<div id="nav" class="card-panel hoverable">
	<div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>
	<a href="subir.php" class="collapsible-header waves-effect waves-red white-text red accent-4 left-align">Subir imagen</a>
	<a href="perfil.php" class="collapsible-header waves-effect waves-red white-text red accent-4 left-align">Ver perfil</a>
	<a href="preguntas.php" class="collapsible-header waves-effect waves-red white-text red accent-4 left-align">Preguntas</a>


</div>