<div id="section">
	<br>
	<div class="row">
		<div class="col s2">&nbsp</div>
		<div class="col s6">
			<h5>1.- ¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</h5>
			<p>Ya que el session_unset libera los valores de la variable de instancia mientras que session_destroy destruye la instancia misma, al borrar el archivo de sesión en el sistema.</p>
			<h5>2.- ¿Cuál es la diferencia entre una variable de sesión y una cookie?</h5>
			<p>Las cookies son fragmentos de información que son almacenadas por un navegador en el disco duro del usuario, la información puede ser recuperada en subsecuentes visitas, también cuenta con un tamaño limitado. Las sesiones en cambio son un mecanismo de programación que permite guardar información de un usuario al pasar de una página a otra, a diferencia de las cookies esta es guardada del lado del servidor y nunca en el cliente.</p>
			<h5>3.- ¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</h5>
			<p>Lo que verifica primero el sitio es que el archivo ya exista, si existe y tiene el mismo nombre corre un script que cambia ligeramente el nombre, por ejemplo: mifoto.jpg es editada para llamarse mitforo_001.jpg, y vuelve a verificar si este nombre ya existe, si vuelve a resultar repetido entonces aumenta en 1 el número adicional que se agregó al nombre, el resultado sería mifoto_00N.jpg y así hasta que el nombre no se repita.</p>

		</div>
	</div>
</div>
</div>
</body>

</html>