<div id="section">
	<br>
	<div class="row">
		<div class="col s2">&nbsp</div>
		<div class="col s6">
			<p><strong class="blue-text">Aquiles Brinco</strong> publicó lo siguiente:</p>
			<div class="card">
				<div class="card-image">
					<img src="../Imagenes/1.jpg">
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col s2">&nbsp</div>
		<div class="col s6">
			<p><strong class="blue-text">Alma Marcela</strong> publicó lo siguiente:</p>
			<div class="card">
				<div class="card-image">
					<img src="../Imagenes/2.jpg">
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col s2">&nbsp</div>
		<div class="col s6">
			<p><strong class="blue-text">Rosa Meleño</strong> publicó lo siguiente:</p>
			<div class="card">
				<div class="card-image">
					<img src="../Imagenes/3.jpg">
				</div>
			</div>
		</div>
	</div>

</div>
</div>

</body>

</html>