<div id="section">
	<br>
	<div class="row">
		<div class="col s2">&nbsp</div>
		<div class="col s6">
			<form action="upload.php" method="post" enctype="multipart/form-data">
				<input class="btn waves-effect waves-light red accent-4 btn-small" type="file" name="fileToUpload" id="fileToUpload">
				<br>
				<br>
				<br>
				<input class="btn waves-effect waves-light red accent-4 btn-small center-align" type="submit" value="Upload Image" name="submit">
			</form>
		</div>
	</div>
</div>
</div>
</body>

</html>